.navRouter {
    display: flex;
    gap: 1rem;
    min-height: 50vh;
    margin-top: 1rem;
    width: 80%;
    margin: 0 auto;
}

.navRouterLink {
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}